*{
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #01261C;
    --cor2: #0E5944;
    --cor3: #03A66A;
    --cor4: #A67153;
    --cor5: #F5744D;
}

table, td{
    border-collapse: collapse;
    width: 100%;
    height: 100vh;
}

#nav{
    width: 20%;
    background-color: var(--cor3);
}

#conteudo{
    background-color: antiquewhite;
}

.foto{
    background-color: aqua;
    width: 100%;    
    /* position: relative; */
    top: 0;
    left: 0;
}

.foto img{
    border: 5px solid var(--cor2);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    top: 0;
    left: 0;
}

.menu{
    background-color: blueviolet;
    /* position: relative; */
    width: 100%;
    height: auto;
    bottom: 0;
}

.menu a{
    display: block;
    text-decoration: none;
    color: antiquewhite;
    font-family: monospace;
    text-align: center;
    font-size: 15pt;
    margin-bottom: 10px;
}